
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: road-safety
  labels:
    app: road-safety
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingress.class }}
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: road-safety
                port:
                  number: {{ .Values.service.port }}
